* {
  box-sizing: border-box;
}

:root {
  --gold: gold;
  --goldrod: goldenrod;
  --goldbrown: #996515;
  --metallic-gold: #d4af37;
}
.charContainer {
  width: 100%;
  padding: 1em 0;
  background-color: green;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 2em;
}

.hintContainer {
  width: 100%;
  background-color: green;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 8em;
  height: 11em;
}

.blur {
  filter: blur(0.5em);
}

.btn-container {
  width: 8em;
  display: flex;
  justify-content: space-around;
}

p {
  text-align: center;
}
